.form-control {
  height: 95px;
}

.ordm {
  color: #0F5D9B !important;
}

.display-table {
  display: table;
}

.vertical-middle {
  display: table-cell;
  vertical-align: middle;
}

.row-tournament {
  border: solid 1px #0F5D9B;
}

.game {
  width: 250px;
  height: 40px;
  background-color: #7CB0DF;
  padding: 10px;
  font-size: 0.75em;
  color: #0F5D9B;
  font-weight:bold;
}

.line {
  border: solid #0F5D9B;
  border-left: 0px;
  padding: 5px;
}

.level-1 {
  height: 60px;
}

.level-2 {
  height: 100px;
}

.level-3 {
  height: 200px;
}

.tournament {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  float: left;
  width: auto;
}
