<div *ngIf="!movies" class="loader-container">
  <div class="loader row align-items-center"></div>
</div>

<div class="container-fluid">  
  <div *ngIf="movies" class="row p-1 mb-3 mt-3 ">
    <nav class="navbar fixed-top ">
      <div class="col">
        <h5 class="text-light"> {{totalSelected}} de 8 Filmes</h5>
      </div>
      <div class="col text-right">
        <button [disabled]="buttonState" (click)="calculateTournament()" type="button" class="btn">GERAR MEU CAMPEONATO</button>
      </div>
    </nav>    
  </div>
  <div class="row after-nav" *ngIf="movies">
    <div class="col">
      <div class="movies-container">
        <div class="movie-item" *ngFor="let movie of movies">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" data-toggle="buttons">
                <label class="check-container">
                  &nbsp;
                  <input  type="checkbox" (change)="checkedState($event, movie.id)" value="{{movie.id}}">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="form-control">
              <img src="{{movie.poster}}" class="movie-poster text-center" />
              <p class="movie-info lead">{{movie.title}} ({{movie.year}})</p>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
